/* estilos del sitio web */
header{
  display:flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(33, 33, 33);
  color: white;
  box-shadow: 3px 7px 8px rgb(62, 62, 62);
}
nav{
  flex-direction: row;
  padding-top: 10px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}
li{
  padding-left: 20px;
}
.caja-logos{
  display:flex;
  justify-content: space-around;
}
.logo-nav{
  font-size: x-large;
  font-weight: 700;
  text-align: center;
}
.logo-carrito{
  text-align: right;
}